Django==4.2
django-ninja==0.22.0
django-cors-headers==4.3.1

mongoengine==0.29.1
pymongo==4.16.0

fastapi==0.95.2
uvicorn==0.22.0

whitenoise==6.6.0


opencv-python-headless==4.8.0.76
numpy==1.26.4

PyJWT==2.8.0
python-jose[cryptography]==3.3.0
python-multipart==0.0.6
cloudinary==1.29.0
pyyaml==6.0.3
natsort==8.2.0
